<h1>My Job Offers</h1>
<table class="table table-bordered">
	<% @offers.each do | offer| %>
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
    <th>Benefits</th>
		<th>Is active</th>
		<% if not offer.is_active %>
			<th>Reason of finalize</th>
		<% end %>
		<th>Actions</th>
	</tr>
	<tr>
			<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>		
    <td>
      <%= offer.benefits %>
    </td>
		<td>
			<%= offer.is_active %>
		</td>
		<% if not offer.is_active %>
			<td>
				<%= offer.reason %>
			</td>
		<% end %>
		<td>
			<%= link_to 'Edit', url_for(:job_offers, :edit, :offer_id => offer.id), :class => "btn btn-primary" %>
			<%- form_tag url(:job_offers, :destroy, :offer_id => offer.id), :method => :delete, :style => 'display:inline' do %>
                <button type='submit' title="Delete offer" rel='tooltip' class="btn btn-secondary" >Delete
                </button>
      <% end %>
      <%- form_tag url(:job_offers, :finalize, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
                <button type='submit' title="Finalize offer" rel='tooltip' class="btn btn-secondary" >Finalize
                </button>
      <% end %>
      <% if not offer.is_active %>
				<%- form_tag url(:job_offers, :activate, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	                <button type='submit' title="Activate offer" rel='tooltip' class="btn btn-secondary" >Activate
	                </button>
	      <% end %>

				<table class="table table-bordered">
					<td>		

					<p>Select your reason of offer finalize: </p>
							<%- form_tag url(:job_offers, :reasonop, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	            		<button type='submit' title="Reason open position" rel='tooltip' class="btn btn-secondary" >Open position</button>
	      			<% end %>
	      			<%- form_tag url(:job_offers, :reasonhis, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	            		<button type='submit' title="Reason hired in site" rel='tooltip' class="btn btn-secondary" >Hired in site</button>
	      			<% end %>
	      			<%- form_tag url(:job_offers, :reasonhos, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	            		<button type='submit' title="Reason hired out site" rel='tooltip' class="btn btn-secondary" >Hired out site</button>
	      			<% end %>
					</td>
				</table>
      <% end %>
		</td>	
	</tr>

  <% end %>



</table>